<!--The content below is only a placeholder and can be replaced.-->
<div class="centered">
  <h1 class="top-margin">
    <i class="nes-icon trophy is-medium"></i>&nbsp;developer.li&nbsp;<i class="nes-icon trophy is-medium"></i>
  </h1>
</div>
<div class="centered">
  <p>Open space and free resources for developers</p>
  <p></p>
</div>
<div id="devli">
  <div class="container">
    <div class="main-content">
      <section class="topic">
        <h2 id="goal"><a href="#goal">#</a>Goal</h2>
        <p>
          The main goal of developer.li is to offer an open & free space for devs to build their projects and ideas.
        </p>
        <p>
          For that goal we provide free subdomains registrations for everyone and provide free resources for all.
        </p>
        <p>
          This page is open to all type of contributions on GitHub, for improving the page or provide more resources.
        </p>
      </section>
      <section class="topic">
        <h2 id="subdomains"><a href="#subdomains">#</a>Subdomains</h2>
        <section class="nes-container with-title bottom-margin">

          <h2 class="title">Check for available subdomains:</h2>
          <div class="nes-field is-inline centered">
            <input type="url" id="name_field" [ngClass]="getActualClass()" [(ngModel)]="subdomain"
              (keydown)="changeInput()" (ngModelChange)="domainAvailable = false" (keyup.enter)="checkAvailability()" required>
            <label for="name_field">.developer.li</label>
          </div>
          <div *ngIf="domainAvailableChecked == false">
            <p style="color: red">{{subdomain}}.developer.li is not available</p>
          </div>
          <div *ngIf="domainAvailableChecked == true">
            <p style="color: green">{{subdomain}}.developer.li is available!</p>
          </div>
          <div class="centered top-margin bottom-margin" *ngIf="checkingAvailability">
            <progress class="nes-progress" [value]="progress" max="100"></progress>
          </div>
          <div class="centered top-margin bottom-margin" *ngIf="!domainAvailable">
            <button type="button" [disabled]="checkingAvailability" [ngClass]="{'is-disabled': checkingAvailability}" class="nes-btn is-primary" (click)="checkAvailability()">Check availability</button>
          </div>
          <div class="centered top-margin bottom-margin" *ngIf="domainAvailable">
            <button type="button" class="nes-btn is-success"
              onclick="location.href='https://freedns.afraid.org/'">Hurray! Reserve subdomain</button>
          </div>
          <p [hidden]="subdomainCount === 0">{{subdomainCount}} subdomains registered and counting!</p>
          <p>Powered by FreeDNS: <a target="_blank" href="https://freedns.afraid.org/">freedns.afraid.org</a></p>
          <p>Check out more available domains in their <a target="_blank"
              href="https://freedns.afraid.org/domain/registry/">registry!</a></p>
        </section>

        <section class="nes-container with-title top-margin">
          <h2 class="title">Instructions:</h2>
          <div class="lists">
            <ul class="nes-list is-circle">
              <li>1 - <a target="_blank" href="https://freedns.afraid.org/signup/?plan=starter">Signup in FreeDNS</a>
                with
                a
                valid email</li>
              <li>2 - Confirm your account from the email received</li>
              <li>3 - Go and register your first subdomain <a target="_blank"
                  href="https://freedns.afraid.org/subdomain/edit.php?edit_domain_id=1271067&ls=1">here!</a></li>
              <li>Extra: find extra domains to register in the main <a target="_blank"
                  href="https://freedns.afraid.org/domain/registry/">registry!</a></li>
            </ul>
          </div>
        </section>
      </section>
      <section class="topic">
        <h2 id="projects"><a href="#projects">#</a>Projects</h2>

        <section class="nes-container">
          <div class="bottom-margin">
            <p><b><a href="https://ntfy.developer.li/">ntfy:</a></b> ntfy lets you send push notifications to your phone or desktop via scripts from any computer, using simple HTTP PUT or POST requests.</p>
            <p><b><a href="https://nostr.developer.li/">Nostr relay:</a></b> a general purpose public relay ("wss://nostr.developer.li") for <a href="https://usenostr.org/">Nostr</a>.</p>
            <p><b><a href="https://nostr.developer.li/">JWT decoder:</a></b> a little tool to decode JWT tokens with some useful insights.</p>
          </div>
          <div class="centered top-margin">
              <p><b>Want to contribute with other project?</b> Get your subdomain and open a PR to this repo including your project here!!</p>
          </div>
        </section>
      </section>

      <section class="topic">
        <h2 id="contribute"><a href="#contribute">#</a>Contributions</h2>

        <section class="nes-container">
          <div class="centered top-margin bottom-margin">
            <button type="button" class="nes-btn" (click)="supportMe()">
              <i class="nes-icon heart"></i>&nbsp;Support Me
            </button>
          </div>

          <div class="centered top-margin bottom-margin">
            <p>
              Check me out in <a target="_blank" href="https://github.com/piraces/developer.li">Github!</a> <i
                class="nes-octocat animate"></i>
            </p>
            <p>
              Feel free to fork the project, open issues and PRs to improve the page!
            </p>
            <p>
              Made using the <a target="_blank" href="https://github.com/nostalgic-css/NES.css">NES-style CSS
                Framework</a>
              and
              Angular.
            </p>
          </div>
        </section>


      </section>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <p>
    <span>©&nbsp;{{actualYear}}</span>
    <a href="https://github.com/piraces/developer.li" target="_blank" rel="noopener">&nbsp;developer.li&nbsp;</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="https://twitter.com/piraces_" target="_blank" rel="noopener">&nbsp;@piraces_&nbsp;</a>
  </p>
</footer>