<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://developer.li/">
        <img src="../assets/logo.svg" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Board' : ''" 
        nzMatchRouter>
        <a [routerLink]="['/', 'welcome']">
          <i nz-icon nzType="profile"></i>
          <span>Board</span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Community projects' : ''" 
        nzMatchRouter>
        <a [routerLink]="['/community']">
          <i nz-icon nzType="bulb"></i>
          <span>Community projects</span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Open Source' : ''" 
        nzMatchRouter
        disabled="true">
        <a [routerLink]="['/oss']">
          <i nz-icon nzType="team"></i>
          <span>Open Source</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
